body
{
    font-family: 'Recursive', sans-serif;
    background-color:rgba(211, 241, 213, 0.499);
}

.header_div
{
background:rgba(165, 182, 166, 0.693);
color: red;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 'bold';
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
letter-spacing: 3px;
}
.copy_right_footer {
    position:fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgba(148, 147, 147, 0.487);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(149, 140, 140);
}